/* Header Styles */
header {
    background-color: #0099cc; /* blue */
    padding: 20px;
    color: #ffffff; /* white */
}

.logo img {
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.company-name h1 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: 10px;
    font-size: 24px;
}

/* Add the following CSS for sticky header and footer */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right; /* Align the navigation links to the right */
}

nav ul li {
    display: inline;
    margin-left: 10px; /* Adjust the spacing between the navigation links */
}

nav ul li:first-child {
    margin-left: 0; /* Remove the left margin for the first navigation link */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Footer Styles */
footer {
    background-color: #0099cc; /* blue */
    color: #ffffff; /* white */
    padding: 20px;
    text-align: center;
}

.footer-navigation ul {
    list-style-type: none;
    padding: 0;
}

.footer-navigation ul li {
    display: inline;
    margin-right: 10px;
}

.footer-navigation ul li a {
    color: #ffffff;
    text-decoration: none;
}

.social-media-links a {
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
}

/* Additional Styles */
.flash-messages {
    list-style-type: none;
    padding: 0;
}

.flash-messages li {
    margin-bottom: 10px;
    color: #0099cc; /* blue */
    font-weight: bold;
}

/* Expand the content section to fill the remaining space */
.content {
    flex: 1;
}

/* Set the footer to stay at the bottom */
footer {
    margin-top: auto;
}
